/*========================

@Typfaces & Typpography

===========================*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

p{
	font-family: 'Roboto', sans-serif;
}

.text-small{
	font-size: 12px;
}

/*Bold Classes*/
.v-stepper__label{
	font-weight: bold;
}



/**/
.v-btn__content{
	text-transform: capitalize !important;
	font-weight: bold;
	font-size: 12px;
}